.loginForm {
    padding: 10px;
    border: 1px solid green;
}

.loginForm form input {
    width: 100%;
}

.loginForm button {
    display: block;
    margin: auto;
}

.loginError {
    color: red;
    text-align: center;
}
